<div class="page-container">
  <div class="w-[90%] max-w-[600px] relative" @enterAnimation>
    <div class="p-4 content">
      <h1 class="text-3xl font-bold">Contact</h1>
    </div>
    <div class="flex flex-col items-center justify-center gap-y-4">
      <p class="p-8 bg-white/20 content">
        I am not currently looking for work, but I am always open to discussing
        new opportunities. Feel free to reach out and I will try my best to get
        back to you.
      </p>
      <a
        class="px-12 py-2 bg-[#5c8567] md:hover:bg-[#5c8567]/80 content text-light_text"
        href="mailto:bradmccray89@gmail.com"
      >
        Email Me!
      </a>
    </div>
  </div>
</div>
