a {
  @apply relative font-semibold cursor-pointer whitespace-nowrap;

  & > span {
    @apply relative z-[2];
  }
}

a::before {
  content: "";
  @apply bg-green-800/60 absolute left-0 bottom-0 w-full h-full md:h-[6px] z-[1] transition-all duration-300 ease-in-out;
}

a:hover::before {
  height: 100%;
}
