<div class="page-container">
  <div class="my-20 w-[90%] max-w-[500px]" @enterAnimation>
    <h1 class="mb-8 text-2xl font-semibold">
      A passionate Software Engineer with an addiction to coffee.
    </h1>
    <div class="p-8 bg-lavender/50">
      I am a software engineer with a passion for building web applications. I
      have a strong background in full stack web development and currently work
      as a Software Engineer at
      <a href="https://fairviewinvest.com/" target="_blank">Fairview</a>. I
      graduated from
      <a href="https://www.liberty.edu/" target="_blank">Liberty University</a>
      with a B.S. in Computer Science.
    </div>
  </div>
</div>
