<div class="page-container">
  <div class="w-[90%] max-w-[800px] relative" @enterAnimation>
    <div class="p-4 content">
      <h1 class="text-3xl font-bold">Hi! I'm Brandon</h1>
      <h5>I build things for the web.</h5>
    </div>
    <p class="p-8 bg-white/20 content">
      I'm a Software Engineer who turns ideas into reality. With
      {{ experienceInYears }} years of experience, I have a diverse skill set in
      Angular, C#, .NETCore, MySQL, NodeJS, Javascript, and React. I'm
      passionate about creating custom software with innovative solutions,
      modern designs, and amazing user experiences.
      <br />
      <br />
      I'm always seeking new challenges and collaborations, let's create
      something amazing together!
    </p>
  </div>
</div>
