<div class="page-container">
  <div
    class="relative order-2 md:order-1 w-[90%] max-w-[400px] flex flex-col gap-4 p-6 bg-lavender/50 mb-20 md:my-20 text-lg"
  >
    <div>Fueled by coffee.</div>
    <div>I build things for the web.</div>
    <div class="self-center btn-container">
      <button
        id="btn-about"
        class="flex items-center justify-between gap-4 px-5 py-3 mt-4 duration-200 bg-green/50 dark:bg-dark_green/50 hover:bg-green/30 hover:dark:bg-dark_green/30"
        routerLink="/about"
      >
        <span>About Me</span>
        <svg
          id="icon-arrow-right"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"
          />
        </svg>
      </button>
    </div>
  </div>
  <div
    class="w-[400px] max-w-[90%] aspect-square rounded-full overflow-clip order-1 md:order-2 m-8 mt-20 md:my-20"
  >
    <img src="assets/images/laugh.jpeg" alt="Brandon McCray" />
  </div>
</div>
