#btn-about:hover {
  & > #icon-arrow-right {
    animation: arrow-right 0.5s ease-in infinite alternate;
  }
}

@keyframes arrow-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10px);
  }
}
