<div class="page-container">
  <div
    class="flex flex-col justify-center items-start gap-4 w-[90%] max-w-[500px]"
    @enterAnimation
  >
    <div class="p-4">
      <h1 class="text-3xl font-bold content">Projects</h1>
      <h5 class="content">Here are some of my projects.</h5>
    </div>
    <a
      *ngFor="let project of projectList"
      class="w-full p-8 overflow-hidden cursor-pointer bg-white/20 hover:bg-white/50 content"
      href="{{ project.link }}"
      target="_blank"
    >
      <div class="w-full h-full hover:scale-105">
        <div class="text-xl">{{ project.title }}</div>
        <div class="text-sm">{{ project.description }}</div>
      </div>
    </a>
  </div>
</div>
