<div class="page-container">
  <div class="w-full h-full px-4 overflow-auto md:px-20">
    <div class="h-full"><div data-aos="fade-left">Testing</div></div>
    <div class="h-full"><div data-aos="fade-right">Another Thing</div></div>
    <div class="h-full"><div data-aos="fade-left">Testing</div></div>
    <div class="h-full"><div data-aos="fade-right">Another Thing</div></div>
    <div class="h-full"><div data-aos="fade-left">Testing</div></div>
    <div class="h-full"><div data-aos="fade-right">Another Thing</div></div>
  </div>
</div>
