@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue: #161b33ff;
  --lavender: #907f9fff;
  --pastel_green: #7c7f65ff;
  --platinum: #e0e1ddff;
  --dark_platinum: #45473fff;
}

* {
  @apply font-light subpixel-antialiased tracking-widest text-dark_text dark:text-light_text transition duration-500;
}

.background {
  @apply absolute w-full h-full top-0 left-0 invert-[90%] dark:invert-0 object-cover bg-fixed -z-10;
}

.page-container {
  @apply flex flex-col items-center justify-center w-full h-full overflow-x-hidden overflow-y-auto md:justify-evenly gap-y-6 md:flex-row;
}

.active {
  @apply underline underline-offset-4;
}

.active-mobile {
  @apply bg-black/20 dark:bg-white/20 z-50;
}

.title {
  @apply mb-8 text-2xl font-semibold;
}
